.homeWrp{
  overflow: hidden;
  height: auto;
}
.homeWrp ul{
 height:100%;
 width: 100%;
 position:relative;
}
.scene{
  background-size: 100% 100%;
  position: relative;
}
.homeWrp ul li img{
  width: 100%;
}

.km_loding{
  height: 900px;
  width: 100%;
  background: #edb838;
  z-index: 999;
  position: relative;
  overflow: hidden;
}
.km_loding .loading{
  background: url(../images/loading.gif);
  height: 100px;
  width: 100px;
  margin: 200px auto;
}
.km_hover{
  position: absolute;
  bottom: 12px;
  left: 50%;
  width: 24px;
  height: 14px;
  margin-left: -12px;
  z-index: 111;
  background: url(../images/btn01_arrow.png);
  background-size:100% 100%;
}
.km_hover_up{
   -webkit-animation: km_animate_down 1s;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   -webkit-transform: translate3d(0, 0, 0);
}
.km_hover_down{
  -webkit-animation: km_animate_up 1s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes km_animate_down{
0%{ -webkit-transform: translate3d(0, 0, 0);}
50%{  -webkit-transform: translate3d(0, -6px, 0);}
100%{  -webkit-transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes km_animate_up{
0%{ -webkit-transform: translate3d(0, 0, 0) rotateY(180deg) rotateX(180deg);}
50%{  -webkit-transform: translate3d(0, -6px, 0) rotateY(180deg) rotateX(180deg);}
100%{  -webkit-transform: translate3d(0, 0, 0) rotateY(180deg) rotateX(180deg);}
}

/*common动画*/
.animate1m{
  -webkit-animation-duration: 1000ms;
}


/*scene1*/
.scene1  [data-roal=manup] {
  background: url(../images/01/01_man_up.png);
  background-size: 100% 100%;
  width: 169px;
  height: 227px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -84px;
  margin-top: -237px;
}
.scene1 [data-roal=mandown]{
  background: url(../images/01/01_man_down.png);
  background-size: 100% 100%;
  width: 169px;
  height: 227px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -84px;
  margin-top: 10px;
}
.scene1 [data-roal=text1]{
  background: url(../images/01/01_text.png);
  background-size: 100% 100%;
  width: 100%;
  height: 180px;
  top: 50%;
  position: absolute;
  margin-top: -90px;
}
.scene1 [data-roal=text2]{
  position: absolute;
  width: 300px;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  margin-left: -140px;
  margin-top: -90px;
}
.scene1 [data-roal=text2] [role=content-container]{
  color: #4e4949;
  font-size: 20px;
  transform: rotate(-13deg);
}

.scene2 [data-roal=title]{
  background: url(../images/02/02_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 209px;
  height: 71px;
  left: 10%;
  top: 50px;
}
.scene2 [data-roal=text1]{
  background: url(../images/02/02_text1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 195px;
  top: 70px;
}
.scene2 [data-roal=text2]{
  background: url(../images/02/02_text2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 195px;
  top: 200px;
}
.scene2 [data-roal=text3]{
  background: url(../images/02/02_text3.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 195px;
  top: 330px;
}

.scene2 [data-roal=bb]{
  background: url(../images/02/02_bb.png);
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}



.scene3 [data-roal=title]{
  background: url(../images/03/03_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 296px;
  height: 72px;
    margin-left: -148px;
  left: 50%;
  top: 5%;
}
.scene3 [data-roal=v1]{
  background: url(../images/03/03_v1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 250px;
  height: 145px;
    top: 20%;
  left: 50%;
  margin-left: -125px;
}
.scene3 [data-roal=v2]{
  background: url(../images/03/03_v2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 270px;
  height: 155px;
    bottom: 10%;
  left: 50%;
  margin-left: -135px;
}
.scene3 [data-roal=vs]{
  background: url(../images/vs.png);
  background-size: 100% 100%;
  position: absolute;
  width: 58px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin-left: -29px;
}


.scene4 [data-roal=title]{
  background: url(../images/04/04_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 229px;
  height: 84px;
  margin-left: -114px;
  left: 50%;
  top: 5%;
}
.scene4 [data-roal=v1]{
  background: url(../images/04/04_v1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 229px;
  height: 123px;
  top: 20%;
  left: 50%;
  margin-left: -114px;
}
.scene4 [data-roal=v2]{
  background: url(../images/04/04_v2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 229px;
  height: 170px;
    bottom: 10%;
  left: 50%;
  margin-left: -114px;
}
.scene4 [data-roal=vs]{
  background: url(../images/vs.png);
  background-size: 100% 100%;
  position: absolute;
  width: 58px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin-left: -29px;
}


.scene5 [data-roal=title]{
  background: url(../images/05/05_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 277px;
  height: 60px;
  margin-left: -138px;
  left: 50%;
  top: 5%;
}
.scene5 [data-roal=v1]{
  background: url(../images/05/05_v1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 277px;
  height: 97px;
  top: 20%;
  left: 50%;
  margin-left: -138px;
}
.scene5 [data-roal=v2]{
  background: url(../images/05/05_v2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 277px;
  height: 95px;
    bottom: 23%;
  left: 50%;
  margin-left: -138px;
}
.scene5 [data-roal=vs]{
  background: url(../images/vs.png);
  background-size: 100% 100%;
  position: absolute;
  width: 58px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin-left: -29px;
}


.scene6 [data-roal=title]{
  background: url(../images/06/06_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 266px;
  height: 67px;
  margin-left: -133px;
  left: 50%;
  top: 5%;
}
.scene6 [data-roal=v1]{
  background: url(../images/06/06_v1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 266px;
  height: 93px;
  top: 22%;
  left: 50%;
  margin-left: -133px;
}
.scene6 [data-roal=v2]{
  background: url(../images/06/06_v2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 266px;
  height: 119px;
    bottom: 17%;
  left: 50%;
  margin-left: -133px;
}
.scene6 [data-roal=vs]{
  background: url(../images/vs.png);
  background-size: 100% 100%;
  position: absolute;
  width: 58px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin-left: -29px;
}

.scene7 [data-roal=text1]{
  background: url(../images/07/07_text1.png);
  background-size: 100% 100%;
  position: absolute;
  width: 228px;
  height: 113px;
    top: 10%;
  left: 50%;
  margin-left: -114px;
}
.scene7 [data-roal=text2]{
  background: url(../images/07/07_text2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 140px;
  height: 95px;
    bottom: 40%;
  left: 6%;
}
.scene7 [data-roal=text3]{
  background: url(../images/07/07_text3.png);
  background-size: 100% 100%;
  position: absolute;
  width: 237px;
  height: 58px;
    bottom: 6%;
  left: 50%;
  margin-left: -118px;
}

.scene8 [data-roal=title]{
  background: url(../images/08/08_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 295px;
  height: 80px;
  top: 10%;
  left: 50%;
  margin-left: -147px;
}
.scene8 [data-roal=textBox]{
  position: absolute;
  width: 235px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -117px;
  margin-top: -40px;
}
.scene8 [data-roal=text1]{
  background: url(../images/08/08_text1.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0px;
  width: 156px;
  height: 80px;
}
.scene8 [data-roal=text2]{
  background: url(../images/08/08_text2.png);
  background-size: 100% 100%;
  position: absolute;
  width: 79px;
  height: 80px;
  right: 0px;
}
.scene8 [data-roal=form]{
  background: url(../images/08/08_form.png);
  background-size: 100% 100%;
  position: absolute;
  width: 276px;
  height: 94px;
  bottom: 6%;
  left: 50%;
  margin-left: -138px;
}

.scene9 [data-roal=title]{
  background: url(../images/09/09_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 291px;
  height: 78px;
  top: 10%;
  left: 50%;
  margin-left: -145px;
}
.scene9 [data-roal=textBox1]{
  position: absolute;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 22px;
  top: 26%;
}
.scene9 [data-roal=textBox2]{
  position: absolute;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 22px;
  bottom: 7%;
}

.scene10 [data-roal=title]{
  background: url(../images/10/10_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 272px;
  height: 75px;
  top: 40px;
  left: 50%;
  margin-left: -136px;
}
.scene10 [data-roal=vs]{
  background: url(../images/vs.png);
  background-size: 100% 100%;
  position: absolute;
  width: 58px;
  height: 43px;
  top: 190px;
  left: 50%;
  margin-left: -29px;
}
.scene10 [data-roal=textBox1]{
  position: absolute;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 22px;
  top: 140px;
}
.scene10 [data-roal=textBox2]{
  position: absolute;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 22px;
  top: 240px;
}

.scene11 [data-roal=title]{
  background: url(../images/11/11_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 244px;
  height: 66px;
  top: 40px;
  left: 50%;
  margin-left: -122px;
}
.scene11 [data-roal=text]{
  position: absolute;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 22px;
  top: 133px;
}
.scene11 [data-roal=textcon]{
  background: url(../images/11/11_textcon.png);
  background-size: 100% 100%;
  position: absolute;
  width: 215px;
  height: 163px;
  top: 160px;
  left: 50%;
  margin-left: -107px;
}


.scene12 [data-roal=title]{
  background: url(../images/12/12_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 278px;
  height: 63px;
  top: 40px;
  left: 50%;
  margin-left: -139px;
}
.scene12 [data-roal=img]{
  background: url(../images/12/12_img.png);
  background-size: 100% 100%;
  position: absolute;
  width: 211px;
  height: 167px;
  border-radius: 20px;
  top: 120px;
  left: 25px;
}
.scene12 [data-roal=text]{
  background: url(../images/12/12_text.png);
  background-size: 100% 100%;
  position: absolute;
  width: 253px;
  height: 67px;
  top: 300px;
  left: 25px;
}

.scene13 [data-roal=title]{
  background: url(../images/12/12_title.png);
  background-size: 100% 100%;
  position: absolute;
  width: 225px;
  height: 43px;
  top: 40px;
  left: 50%;
  margin-left: -112px;
}
.scene13 [data-roal=textBox]{
  position: absolute;
  width: 100%;
  top: 100px;
  text-align: center;
}
